<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Autocomplete Widget : PHP Blasty User Guide</title>

    <link  href="../images/favicon.gif" rel="icon" type="image/gif"/>
    <style type='text/css' media='all'>@import url('../css/user_guide.css');</style>

    <link type="text/css" rel="stylesheet" href="../css/shCore.css" />
    <link type="text/css" rel="stylesheet" href="../css/shThemeRDark.css" />

    <script type="text/javascript" src="../js/shCore.js"></script>
    <script type="text/javascript" src="../js/shBrushPhp.js"></script>
    <script type="text/javascript" src="../js/nav.js"></script>
    <script type="text/javascript" src="../js/prototype.lite.js"></script>
    <script type="text/javascript" src="../js/moo.fx.js"></script>
    <script type="text/javascript" src="../js/user_guide_menu.js"></script>

    <meta http-equiv='expires' content='-1' />
    <meta http-equiv= 'pragma' content='no-cache' />
    <meta name='robots' content='all' />
    <meta name='author' content='Fabio Ingala' />
    <meta name='description' content='PHP Blasty User Guide' />

  </head>
  <body>

    <!-- START NAVIGATION -->
    <div id="nav"><div id="nav_inner"><script type="text/javascript">create_menu('../');</script></div></div>
    <div id="nav2"><a name="top"></a><a href="javascript:void(0);" onclick="myHeight.toggle();"><img src="../images/nav_toggle_darker.jpg" width="154" height="43" border="0" title="Toggle Table of Contents" alt="Toggle Table of Contents" /></a></div>
    <div id="masthead">
      <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
        <tr>
          <td><h1>PHP Blast YUI - PHP Blasty 0.1.00 Beta</h1></td>
          <td id="breadcrumb_right"><a href="../toc.html">Table of Contents Page</a></td>
        </tr>
      </table>
    </div>
    <!-- END NAVIGATION -->

    <!-- START BREADCRUMB -->
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
      <tr>
        <td id="breadcrumb">
          <a href="http://blasty.sourceforge.net/">PHP Blasty Home</a> &nbsp;&#8250;&nbsp;
          <a href="../index.html">User Guide Home</a> &nbsp;&#8250;&nbsp;
          Autocomplete Widget
        </td>
        <td id="searchbox"><form method="get" action="http://www.google.com/search"><input type="hidden" name="as_sitesearch" id="as_sitesearch" value="blasty.sourceforge.net/user_guide/" />Search PHP Blasty User Guide&nbsp; <input type="text" class="input" style="width:200px;" name="q" id="q" size="31" maxlength="255" value="" />&nbsp;<input type="submit" class="submit" name="sa" value="Go" /></form></td>
      </tr>
    </table>
    <!-- END BREADCRUMB -->

    <br clear="all" />

    <!-- START CONTENT -->
    <div id="ug-content">

      <h1>Autocomplete Widget</h1>
      <p>The Autocomplete widget provides functions that enable you to embed the <a href="http://developer.yahoo.com/yui/autocomplete/" target="_blank" class="external">YUI autocomplete widget</a> in your page.</p>

      <h2>Initializing the Class</h2>
      <p>The Autocomplete Widget is initialized in your application using the <dfn>$blasty->loadComponent()</dfn> function:</p>

      <pre class="brush: php;">
        ...
        $blasty->loadComponent('autocomplete');
        ...
      </pre>

      <h2>Example</h2>
      <p>Here is a complete example showing how you can create an autocomplete widget setting some properties.</p>
      <pre class="brush: php;">
        ...
        require_once 'blasty/blasty.php';
        $blasty = Blasty::getInstance();
        $blasty->loadComponent('autocomplete');
        $blasty->setDataType('TYPE_LOCAL');
        $blaast->setLiveData(
          array(
              'Alabama',        'Alaska',         'Arizona',        'Arkansas',
              'California',     'Colorado',       'Connecticut',    'Delaware',
              'Florida',        'Georgia',        'Hawaii',         'Idaho',
              'Illinois',       'Indiana',        'Iowa',           'Kansas',
              'Kentucky',       'Louisiana',      'Maine',          'Maryland',
              'Massachusetts',  'Michigan',       'Minnesota',      'Mississippi',
              'Missouri',       'Montana',        'Nebraska',       'Nevada',
              'New Hampshire',  'New Jersey',     'New Mexico',     'New York',
              'North Dakota',   'North Carolina', 'Ohio',           'Oklahoma',
              'Oregon',         'Pennsylvania',   'Rhode Island',   'South Carolina',
              'South Dakota',   'Tennessee',      'Texas',          'Utah',
              'Vermont',        'Virginia',       'Washington',     'West Virginia',
              'Wisconsin',      'Wyoming',
              )
            );
        echo $blasty->yuiTags(YUI_CSS);
        echo $blasty->container('autocomplete');
        echo $blasty->yuiTags(YUI_JS);
        echo $blasty->generate();
        ...
      </pre>

      <h1>Widget Reference</h1>

      <h2>container()</h2>
      <p>
        See <a href="../general/widget_reference.html#container">Common widget function reference</a>.
      </p>

      <h2>generate()</h2>
      <p>
        See <a href="../general/widget_reference.html#generate">Common widget function reference</a>.
      </p>

      <h2>$blasty->getContainerId()</h2>
      <p>
        See <a href="../general/widget_reference.html#getContainerId">Common widget function reference</a>.
      </p>

      <h2>$blasty->getCurrentInstance()</h2>
      <p>
        See <a href="../general/widget_reference.html#getCurrentInstance">Common widget function reference</a>.
      </p>

      <h2>getInstance()</h2>
      <p>
        See <a href="../general/widget_reference.html#getInstance">Common widget function reference</a>.
      </p>

      <h2>$blasty->setDataType</h2>
      Work in progress

      <h2>$blasty->setliveData</h2>
      Work in progress

      <h2>$blasty->setProperty</h2>
      <p>
        See <a href="../general/widget_reference.html#setProperty">Common widget function reference</a>.
      </p>

      <h2>$blasty->yuiTags</h2>
      <p>
        See <a href="../general/widget_reference.html#yuiTags">Common widget function reference</a>.
      </p>

    </div>
    <!-- END CONTENT -->

    <div id="footer">
      <p>
        Previous Topic:&nbsp;&nbsp;<a href="../general/utility_reference.html">Common utility function reference</a>
        &nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
        <a href="#top">Top of Page</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
        <a href="../index.html">User Guide Home</a>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;
        Next Topic:&nbsp;&nbsp;<a href="../components/button.html">Button Widget</a></p>
      <p><a href="http://blasty.sourceforge.net/">PHP Blasty</a> &nbsp;&middot;&nbsp; Copyright &#169; 2010 &nbsp;&middot;&nbsp; <a href="http://fabio.ingala.it/">Fabio Ingala</a></p>
    </div>

    <script type="text/javascript">
      SyntaxHighlighter.all()
    </script>
  </body>
</html>